body{
    background: linear-gradient(308deg, #2fd9cb, #73b730);
    background-size: 400% 400%;
    
    -webkit-animation: AnimationName 26s ease infinite;
    -moz-animation: AnimationName 26s ease infinite;
    animation: AnimationName 26s ease infinite;
    
    @-webkit-keyframes AnimationName {
        0%{background-position:92% 0%}
        50%{background-position:9% 100%}
        100%{background-position:92% 0%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:92% 0%}
        50%{background-position:9% 100%}
        100%{background-position:92% 0%}
    }
    @keyframes AnimationName { 
        0%{background-position:92% 0%}
        50%{background-position:9% 100%}
        100%{background-position:92% 0%}
    }
}
#main{
    min-width:300px;
    margin:auto;
}
#content{
    min-height: 500px;

}
.title{
    text-align: center;
    color: #ffe;
}
#content.p{
    color : #ffe;
}
.brand{
    color:#ff0;
    animation-name: intro;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-iteration-count:1;
    position: relative;
    animation-fill-mode: forwards;
    left: -500px;

}

@keygrames intro{
    0%{
        left:-500px;
    }
    100%{
        left:0px;
    }
}
.food{
    display:flex;
}

@media screen and (max-width:600px)
{
    .food{
        display:flex;
    }
}